@media screen and (max-width:1024px){
    header nav {display: none;}    
    .pg_4 #gallery_wrap a:nth-last-child(1) {display: none;}
}
@media screen and (max-width:768px){
    .pg_4 #gallery_wrap a:nth-last-child(2) {display: none;}
}